{% extends "layout.html" %}
{% block content %}
<title>Change password</title>
{% if current_user.role=='admin' %}
<div class="btn-group">
    <form action="/logout" method="POST">
  <input type="submit" value="Logout">
</form>
<form action="/home_admin">
  <input type="submit" value="Home">
</form>
</div>
{% elif current_user.role=='farmer' %}
<div class="btn-group">
        <form action="/logout" method="POST">
  <input type="submit" value="Logout">
</form>
<form action="/home_farmer">
  <input type="submit" value="Home">
</form>
</div>
{% endif %}
<h1>Farmer crop recovery</h1>
<form action="/change_password" method="POST">
<hr>

    <label for="password"><b>Current Password</b></label>
    <input type="password" placeholder="Enter Current Password" name="password" id="password" required>

    <br><br>

    <label for="psw"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" name="psw" id="psw" required>

    <br><br>

    <label for="psw-repeat"><b>Repeat New Password</b></label>
    <input type="password" placeholder="Repeat New Password" name="psw-repeat" id="psw-repeat" required>

    <hr>

    <button type="submit">Submit</button>
</form>
{% endblock %}
